<div class="web-page">
    <div id="book_title">
         <img class="poster-img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{adaptation.poster}}">
        <div id="book_info">
            <h1>{{adaptation.title}}</h1>
            <a href="https://www.imdb.com/title/{{adaptation.imdb}}/ratings"><h1>{{adaptation.rating}}</h1></a>
        </div>
    </div>
    <div class="actors-display">
        {{#each adaptation.cast}}
            <div>
                <h2>{{this.character}}<h2>
                <h4>{{this.name}}</h4>
                <a href="https://www.themoviedb.org/person/{{this.id}}"><img class="actor-img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{this.profile_path}}"></a>
            </div>
        {{/each}}
    </div>
</div>
